html {
  box-sizing: border-box;
  height: 100%;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  background: #FEFEFE;
  height: 100%;
  color: #444;
}

a {
  color: #c6538c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.main {
  max-width: 1170px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.title {
  margin-top: 2.5em;
  font-size: 4em;
  margin-bottom: .5em;
}

.baseline {
  color: #999;
}

.links {
  padding-left: 0;
  list-style: none;
  max-width: 400px;
  margin: 0 auto;
}

.links__github {
  margin-top: 2em;
}

.links__github a {
  color: #999;
}