<header class="header" role="navigation">
    <div class="container">

        <a href="/" class="logo">SassDoc</a>
        <h1 class="main-title">{{ page.title }}</h1>


        <nav role="navigation" class="nav">
            <ul class="nav__list  clearfix">
                <li class="nav__item  nav__item--pull">
                    <a href="https://twitter.com/SassDoc_" target="_blank" class="nav__link">Twitter</a>
                </li>

                <li class="nav__item  nav__item--pull">
                    <a href="https://github.com/SassDoc/" target="_blank" class="nav__link">GitHub</a>
                </li>

                <li class="nav__item  nav__item--pull">
                  <iframe src="{{ site.base_url }}/github-btn.html?user=SassDoc&repo=sassdoc&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="85" height="20"></iframe>
                </li>
            </ul>
        </nav>

    </div>
</header>
