<nav class="navbar" role="navigation">
    <div class="container">
        <ul class="navbar__list  clearfix">
            <li class="navbar__item  navbar__item--logo">
                <a href="/" class="navbar__link">SassDoc</a>
            </li>

            <li class="navbar__item  navbar__item--title">
                <h1 class="navbar__link">{{ page.title }}</h1>
            </li>

            <li class="navbar__item  navbar__item--pull">
                <a href="https://twitter.com/SassDoc_" target="_blank" class="navbar__link">Twitter</a>
            </li>

            <li class="navbar__item  navbar__item--pull">
                <a href="https://github.com/SassDoc/" target="_blank" class="navbar__link">GitHub</a>
            </li>
        </ul>
    </div>
</nav>
