<input type="checkbox" class="sidebar__toggle  visually-hidden" id="sidebar-toggle" />
<label class="sidebar__toggle-label" for="sidebar-toggle">Navigation</label>

<div class="sidebar__body">

{% for group in site.data.navigation %}
<h2 class="sidebar__title">{{ group.title }}</h2>

<ul class="sidebar__list">
{% for item in group.items %}
  {% capture tmp %}{{ site.data.routes[item.route] }}index.html{% endcapture %}
  <li class="sidebar__list-item  {% if tmp == page.url %}active{% endif %}">
    <a class="sidebar__link" href="{{ site.data.routes[item.route] }}" {% if item._blank %}target="_blank"{% endif %}>{{ item.title }}</a>
  </li>
{% endfor %}
</ul>

{% endfor %}
</div>