<h1 class="sidebar__main-title"><a href="/">SassDoc</a></h1>

<input type="checkbox" class="sidebar__toggle  visually-hidden" id="sidebar-toggle" />
<label class="sidebar__toggle-label" for="sidebar-toggle">Navigation</label>

<div class="sidebar__body">
<h2 class="sidebar__sub-title">Getting started</h2>

<ul class="sidebar__list">
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/getting-started/">Getting started</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/documenting-your-items/">Documenting your items</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/file-level-annotations/">File-level annotations</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/customising-the-view/">Customising the view</a>
  </li>
</ul>

<h2 class="sidebar__sub-title">Custom theme</h2>

<ul class="sidebar__list">
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/using-your-own-theme/">Using your own theme</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/theme-context/">Theme context</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/extending-sassdoc/">Extending SassDoc</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/data-interface/">Data interface</a>
  </li>
</ul>

<h2 class="sidebar__sub-title">Extra</h2>

<ul class="sidebar__list">
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/about/">About</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/frequently-asked-questions/">Frequently Asked Questions</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/contributing/">Contributing</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="/build-with-sassdoc/">Built with SassDoc</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="https://twitter.com/sassdoc_" target="_blank">Twitter</a>
  </li>
  <li class="sidebar__list-item">
    <a class="sidebar__link" href="https://github.com/sassdoc" target="_blank">GitHub</a>
  </li>
</ul>
</div>