@include respond-to("large") {
  .build-status {
    position: absolute;
    top: 1.7em;
    right: 1em;

    &,
    img {
      display: block;
    }
  }

  .npm-badge {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;

    &,
    img {
      display: block;
    }
  }
}