.footer {
  clear: both;
  font-size: .9em;
  color: #aaa;
  text-align: center;
  background: $light-grey;
  background: $very-dark-pink;

  p {
    margin: 0;
  }

  @include respond-to("large") {
    text-align: right;
    padding-left: $sidebar-width;
  }
}

.footer__content {
  border-top: 1px solid rgba(black, .1);
  background: #EFEFEF;
  padding: .5em 0;
}