.footer {
    background-color: $tertiary-color;
    color: $secondary-color;
    clear: both;
    text-align: center;
    padding: 1em 0;

    p {
        margin: 0;
    }

    a {
        color: $secondary-color;
    }
}

.footer__content {
    padding: .5em 0;
}
