.header {
  overflow: hidden;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.header__title {
  font-size: 2em;
  padding: .5em;
  margin: 0;
  text-align: center;

  @include respond-to("large") {
    text-align: left;
  }
}

.site-title {
  background: $very-dark-pink;

  @include respond-to("large") {
    width: $sidebar-width;
    z-index: 2;
    position: absolute;
  }

  a {
    display: block;
    color: white;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}

.page-title {
  background: #EFEFEF;
  color: $black;

  @include respond-to("large") {
    padding-left: $sidebar-width + 18px;
  }
}