.header {
    text-align: center;
    overflow: hidden;
    padding: 1em 0;

    @include respond-to("large") {
        border-bottom: .5em solid $primary-color;
        text-align: left;
    }

    @include respond-to("huge") {
        padding-left: $sidebar-width;
    }
}

.header > .container {
    width: $container-width + $sidebar-width;

    @include respond-to("huge") {
        width: $container-width;
    }
}

.nav {
    @include respond-to("large") {
        float: right;
    }
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav__item {
    display: inline-block;

    @include respond-to("large") {
       float: left;
    }
}

.nav__item--pull {
    @include respond-to("large") {
        float: right;
    }
}

.nav__item--no-small {
    display: none;

    @include respond-to("large") {
        display: block;
    }
}

.nav__link {
    display: block;
    padding: .5em;
    position: relative;

    &:hover {
        text-decoration: none;
    }

    @include respond-to("large") {
        padding: 1em;

        &::after {
            content: '';
            opacity: 0;
            transition: .15s ease-out;
            position: absolute;
            width: 0;
            height: 0;
            bottom: -2em;
            border-left: .6em solid transparent;
            border-right: .6em solid transparent;
            border-bottom: .75em solid $primary-color;
            left: 50%;
            margin-left: -.3em;
        }

        &:hover::after {
            opacity: 1;
            bottom: -1.5em;
        }
    }
}

.logo {
    margin: 0 1em;
    display: block;

    img {
        margin: 0 auto 1em;
    }

    @include respond-to("large") {
        display: none;
    }

    @include respond-to("huge") {
        position: absolute;
        right: 100%;
        top: 50%;
        margin: -1.45em 0 0;
        display: block;

        img {
            max-width: 8em;
        }
    }
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    color: $primary-color;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 0 1em;

    @include respond-to("large") {
        font-size: 2.5em;
        text-align: left;
        float: left;
        margin: 0;
    }
}

iframe {
    margin-top: 1.2em;
}
