.navbar {
    border-bottom: .5em solid $pink;
}

.navbar__list {
    list-style: none;
    margin: 1em 0;
}

.navbar__item {
    float: left;
    padding: 1em;
}

.navbar__item--pull {
    float: right;
}

.navbar__item--logo {
    position: absolute;
    right: 100%;
}

.navbar__item--title {
    padding: 0;
    text-transform: uppercase;
    color: $pink;
    font-weight: bold;

    .navbar__link {
        font-size: 2.5em;
        margin: 0;
    }

}

.navbar__link {
}
