.colors {
    overflow: hidden;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.color {
    font-family: $code-font-stack;
    border-radius: .25em;
    margin-bottom: 1em;
    padding: 1em;


    @include respond-to("large") {
        float: left;
        width: 15em;

        & + & {
            margin-left: 1em;
        }

        &:nth-of-type(3n) {
            clear: both;
            margin-left: 0;
        }
    }
}

.color--primary {
    background-color: $primary-color;
}

.color--secondary {
    background-color: $secondary-color;
}

.color--tertiary {
    background-color: $tertiary-color;
    color: white;
}

.color--black {
    background-color: $black;
    color: white;
}

.color__name {
    display: block;
}

.color__value {
    display: block;
}

.logo-table {
    width: 100%;

    td {
        padding: 1em;
        border: 1px solid silver;
    }

    img {
        display: block;
        height: auto;
    }
}
