.home {
    .wrapper {
        font-size: 1.25em;
    }

    .header {
        padding-left: 0;
    }
}

.megatron {
}

.megatron__top {
    position: relative;
    padding: 2em 0;
    background: $secondary-color;


    .highlight {
        margin: 0 1em 1em;

        @include respond-to("large") {
            margin: 0;
            border: none;
            background: none;

            pre {
                padding: 0;
            }

            span {
                font-family: inherit;
            }

            > * {
                color: $black !important;
            }

            .c {
                color: $tertiary-color;
            }

            .nb {
                color: $black;
            }
        }
    }
}

.megatron__bottom {
    background: $primary-color;
    padding: .5em 0;
}

.megatron__content {
    @include respond-to("large") {
        width: 60%;
        margin-left: auto;
    }
}

.megatron__button {
    margin: 0 1em;

    & + & {
        margin-top: 1em;
    }

    @include respond-to("large") {
        width: 48%;
        vertical-align: top;
        margin: 0;

        & + & {
            margin-top: 0;
            margin-left: 4%;
        }
    }

    font-size: .9em;

}

.megatron__illustration {
    margin: 0 auto 1em;

    @include respond-to("large") {
        margin-top: 0;
        position: absolute;
        top: -4em;
        left: 0;
        max-width: 280px;
    }
}

.home__section {
    overflow: hidden;
    padding: 0 1em 3em;

    ul {
        margin-bottom: 0;
        padding-left: 1em;
    }

    @include respond-to("large") {
        margin-top: -3em;
        padding: 0 0 7em;
    }

    &:first-of-type {
        margin-top: 0;
        background: url('http://subtlepatterns.com/patterns/gplaypattern.png');
        padding-top: 4em;
    }

    &:last-of-type {
        padding-bottom: 3em;
    }
}

.home__section-heading {
    margin: 0;
    color: $primary-color;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;

    & + * {
        margin-top: 0;
    }

    @include respond-to("large") {
        font-size: 2.5em;
        text-align: left;
    }
}

.home__section-content {
    border-top: .4em solid $primary-color;
    padding-top: 3em;
    margin-top: -0.65em;

    @include respond-to("large") {
        margin-top: -0.95em;
    }
}


.home__section--catcher {
    font-size: 1.5em;
    text-align: center;
    background: url('http://subtlepatterns.com/patterns/gplaypattern.png');

    .home__section-content {
        margin: 0;
    }

    .button {
        margin-top: 1.5em;
        width: auto;
    }
}
