.home .wrapper {
    font-size: 1.25em;
    border: none;
}

.home .main {
    border: none;
}

.home .navbar {
    padding-left: 0;
}

.megatron {
    margin-bottom: 3em;
}

.megatron__top {
    position: relative;
    background: $yellow;
    padding: 1em 0;

    .highlight {
        margin: 0 1em 1em;

        @include respond-to("large") {
            margin: 0;
            border: none;
            background: none;

            pre {
                padding: 0;
            }

            span {
                font-family: inherit;
            }

            > * {
                color: $black !important;
            }

            .c {
                color: $blue;
            }

            .nb {
                color: $black;
            }
        }
    }
}

.megatron__bottom {
    background: $pink;
    padding: 1em 0;
}

.megatron__content {
    @include respond-to("large") {
        width: 60%;
        margin-left: auto;
    }
}

.megatron__button {
    margin: 0 1em;

    & + & {
        margin-top: 1em;
    }

    @include respond-to("large") {
        width: 48%;
        vertical-align: top;
        margin: 0;

        & + & {
            margin-top: 0;
            margin-left: 4%;
        }
    }

    font-size: .9em;

}

.megatron__illustration {
    margin: 0 auto 1em;

    @include respond-to("large") {
        margin-top: 0;
        position: absolute;
        top: -4em;
        left: 0;
        max-width: 300px;
    }
}

.home__section {
    overflow: hidden;
    padding: 0 1em 3em;

    ul {
        margin-bottom: 0;
    }

    @include respond-to("large") {
        padding: 0 0 3em;
    }
}

.home__section-heading {
    $border-height: .5em;

    margin-bottom: 1em;
    border-bottom: $border-height solid $pink;

    color: $pink;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    line-height: .65;

    & + * {
        margin-top: 0;
    }

    @include respond-to("large") {
        font-size: 2.5em;
        text-align: left;

        &::after,
        &::before {
            content: '';
            position: absolute;
            background: $pink;
            top: 100%;
            width: 20em;
            height: $border-height;
        }

        &::after {
            left: 100%;
        }

        &::before {
            right: 100%;
        }
    }
}
