.sassdoc-theme-preview {

}

.sassdoc-theme-preview--empty {

}

.theme-code,
.theme-preview {
    .sassdoc-theme-preview--empty & {
        display: none;
    }
}

.theme-preview__frame {
    width: 100%;
    border: 1px solid silver;
    min-height: 30em;
}

.theme-picker__list {
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin: 0;
}

.theme-picker__item {
    margin: .5em;
    position: relative;
    overflow: hidden;
    transition: .15s ease-out;

    @include respond-to("large") {
        max-width: 270px;
        float: left;
    }

    &.active {
        box-shadow: 0 0 0 .25em rgba($primary-color, .5);
    }

    img {
        margin-bottom: 0;
    }
}

.theme-picker__preview {
    display: block;
    max-width: 100%;
    height: auto;
    perspective: 1000px;
}

.theme-picker__metadata {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background: black;
    background: rgba(0, 0, 0, .8);
    transform: translateY(100%);
    opacity: 0;
    transition: .15s ease-out;
    cursor: pointer;
}

.metadata__list {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: .5em;
    font-size: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
}

.metadata__item {
    height: 33.33%;
    text-align: center;

    a {
        color: $primary-color;
    }
}

.theme-picker__item:hover .theme-picker__metadata,
.theme-picker__item:active .theme-picker__metadata,
.theme-picker__item:focus .theme-picker__metadata {
    transform: translateY(0);
    opacity: 1;
}

.theme-preview {

}

.theme-preview__frame {
    width: 100%;
    min-height: 30em;
    border: 1px solid silver;
}

.theme-preview__frame--fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.theme-preview__fullscreen-button {
    color: lighten($black, 10%);
    margin-top: .3em;

    @include respond-to("large") {
        float: right;
        background: none;
        border: none;
        font-size: .7em;
    }

    .sassdoc-theme-preview--empty & {
        display: none;
    }
}

.theme-preview__fullscreen-close {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    background: rgba(0, 0, 0, .8);
    padding: .5em;
    color: white;
    z-index: 3;

    .theme-preview__frame--fullscreen + & {
        display: block;
    }
}

.theme-code__name {
    color: $primary-color;
    font-weight: bold;
}

.theme-preview__name {
    color: $primary-color;
}
