/// Main container width
/// @type Length
$container-width: 920px;

/// Sidebar width
/// @type Length
$sidebar-width: 250px;

/// Main font familiy
/// @type List
$font-stack: 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Arial', sans-serif;

/// Pink
/// @type Color
$pink: #dd5a6f;

/// Blue
/// @type Color
$blue: #135c6a;

/// Yellow
/// @type Color
$yellow: #ffc93c;

/// Black
/// @type Color
$black: #333;
