.button {
    transition: .150s ease-out;
    padding: .5em 1em;
    text-align: center;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }
}

.button--primary {
    border-radius: .15em;
    background-color: $yellow;
    display: block;

    color: $blue;
    text-transform: uppercase;

    &:hover {
        background: mix($yellow, white, 90%);
        box-shadow: 0 4px 0 mix($pink, black, 80%);
    }

    @include respond-to("large") {
        display: inline-block;
    }
}

.button--block {
    display: block;
}
