.quote {
    margin: 0 0 2em;
    overflow: hidden;
    text-align: center;

    @include respond-to("large") {
        text-align: left;
    }
}

.quote__avatar {
    border-radius: 50%;
    margin: 0 auto 1em;

    @include respond-to("large") {
        float: left;
        margin: 0 1em 1em 0;
        max-width: 5em;
    }
}

.quote__content {
    margin-bottom: .5em;
    margin-top: 0;
}

.quote__author {
    margin: 0;

    a {
        color: $blue;
    }
}


.quote__content {
  quotes: "“" "”" "‘" "’";
}

.quote__content::before,
.quote__content::after {
    color: $blue;
}

.quote__content::before {
    content: open-quote;
}

.quote__content::after {
    content: close-quote;
}