html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 112.5%;
}

*,
::after,
::before {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: $black;
  position: relative;
  line-height: 1.35;
  font-family: $font-stack;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  padding-left: 0;
  list-style-position: inside;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.counter-steps {
  counter-reset: steps;
}

.counter-step {
  counter-increment: steps;

  &::before {
    content: counter(steps) ". ";
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead {
  border-bottom: 2px solid #ccc;
}

tbody tr {
  border-top: 1px solid #ccc;
}

td,
th {
  vertical-align: top;
  padding: .5em 1em .5em 0;
}

li {
  line-height: 1.4;
}
