html {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 112.5%;
}

*,
::after,
::before {
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    color: $black;
    position: relative;
    line-height: 1.5;
    font-family: $text-font-stack;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: $pink;
    font-weight: bold;
    text-decoration: none;

    &:hover,
    &:active {
        text-decoration: underline;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    border-bottom: 2px solid #ccc;
}

tbody tr {
    border-top: 1px solid #ccc;
}

td,
th {
    vertical-align: top;
    padding: .5em 1em .5em 0;
}

@media (max-width: 767px) {
    table, thead, tbody, tr, th, td {
        display: block;
    }

    thead {
        display: none;
    }
}
