.wrapper {
    position: relative;
}

.container {
    @extend .clearfix;
    max-width: 100%;
    width: $container-width;
    margin: 0 auto;
    position: relative;

    @include respond-to("large") {
        padding: 0 1em;
    }
}

.main {
    > .container {
        padding: 1em;
    }

    @include respond-to("large") {
        border-left: $sidebar-width solid $pink;

        > .container {
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }
}
