.wrapper {
    position: relative;
}

.container {
    @extend .clearfix;
    max-width: 100%;
    width: $container-width;
    margin: 0 auto;
    position: relative;

    @include respond-to("large") {
        padding: 0 1em;
    }
}

.main {
    padding: 1em;

    @include respond-to("large") {
        border-left: $sidebar-width solid $pink;
    }
}
