.wrapper {
}

.wrapper--home {
  border: none;
}

.container {
  max-width: 100%;
  width: $container-width;
  margin: 0 auto;
  position: relative;

  @include respond-to("large") {
    padding: 0 1em;
  }

  &::after {
    clear: both;
    display: table;
    content: '';
  }
}

.main {
  > .container {
    padding-top: 1em;
  }
}
