h2, h3, h4 {
    position: relative;
    margin-top: 0;

    @include respond-to("large") {
        &:hover  .header-link,
        &:active .header-link {
            opacity: 1;
        }
    }

    > code {
        text-transform: initial;
    }
}

p, blockquote,
ul, ol,
h3, h4,
table, img,
.highlight {
    margin-bottom: 1.5em;
}

h2 {
    margin-bottom: 1em;
    text-transform: uppercase;
    margin-top: 3em;
    color: $tertiary-color;

    a {
        color: $tertiary-color;
    }
}

h3 {
    font-size: 1.2em;
    margin-bottom: 1.25em;
    color: mix($black, white, 80%);
}

p {
    margin-top: 0;
}

ul, ol {
    padding-left: 1em;
    margin-top: 0;
    list-style-position: inside;
}

li {
    margin-bottom: .5em;
}

.header-link {
    position: absolute;
    top: 0;
    right: 101%;
    transition: .15s;
    color: $primary-color;

    @include respond-to("large") {
        opacity: 0;
    }
}

.main ul > li:not([class]) {
    position: relative;
    padding-left: 1.5em;
    list-style: none;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: .4em;
        height: .4em;
        border-radius: 50%;
        top: .6em;
        background: $tertiary-color;
    }
}
