h2, h3, h4 {
    text-transform: capitalize;
    position: relative;

    @include respond-to("large") {
        &:hover  .header-link,
        &:active .header-link {
            opacity: 1;
        }
    }

    > code {
        text-transform: initial;
    }
}

p, blockquote,
ul, ol,
h2, h3, h4,
table, img,
.highlight {
    margin-bottom: 1.5em;
}

p {
    margin-top: 0;
}

ul, ol {
    padding-left: 1em;
    list-style-position: inside;
}

li {
    line-height: 1.4;
}

.header-link {
    position: absolute;
    top: 0;
    right: 0;
    transition: .15s;

    @include respond-to("large") {
        opacity: 0;
    }
}

body:not(.home) h2 {
    color: $blue;
    text-transform: uppercase;
    margin-top: 3em;

    a {
        color: $blue;
    }
}
