h2, h3, h4, h5, h6 {
  text-transform: capitalize;
  position: relative;

  @include respond-to("large") {
    &:hover .header-link {
      opacity: 1;
    }
  }
}

.header-link {
  position: absolute;
  top: 0;
  right: 0;
  transition: .15s;

  @include respond-to("large") {
    opacity: 0;
  }
}

.option {
  text-transform: lowercase;
}
